In [1]:
import numpy as np
import matplotlib.pyplot as plt
import skimage as skimage
import math
%matplotlib inline
from skimage import color
import scipy.ndimage
import scipy.stats
import scipy.spatial.distance as dist
import scipy.optimize
from scipy.optimize import curve_fit
import random
import pickle
from tqdm import tqdm
import pandas as pd

### Load excel data

In [2]:
df =pd.read_csv('data\orientationdata\orientation_initial.csv')
#df = df.iloc[:, 0].str.split(',', expand=True)
df.columns = ['X', 'Y','Z','formation']
df

       X  Y    Z formation
0      0  0  -52      topo
1     70  0  -51      topo
2    142  0  -38      topo
3    264  0  -34      topo
4    330  0  -34      topo
..   ... ..  ...       ...
76   504  0 -593  basement
77   777  0 -597  basement
78   937  0 -602  basement
79  1139  0 -614  basement
80  1331  0 -617  basement

[81 rows x 4 columns]

### Additional Dimentions

In [3]:
#add dip
df.loc[:, 'dip'] = '0'

#add azimuth
df.loc[:, 'azimuth'] = '90'

#add polarity
df.loc[:, 'polarity'] = '1'

df = df[['X', 'Y', 'Z','dip','azimuth','polarity','formation']]


df

       X  Y    Z dip azimuth polarity formation
0      0  0  -52   0      90        1      topo
1     70  0  -51   0      90        1      topo
2    142  0  -38   0      90        1      topo
3    264  0  -34   0      90        1      topo
4    330  0  -34   0      90        1      topo
..   ... ..  ...  ..     ...      ...       ...
76   504  0 -593   0      90        1  basement
77   777  0 -597   0      90        1  basement
78   937  0 -602   0      90        1  basement
79  1139  0 -614   0      90        1  basement
80  1331  0 -617   0      90        1  basement

[81 rows x 7 columns]

In [4]:
#save the data at the end
df.to_csv(r'data\orientationdata\orientation_data.csv', index = False)