In [6]:
import numpy as np
import matplotlib.pyplot as plt
from skimage import color
import pandas as pd

### Load excel data

In [7]:
df =pd.read_csv('data\orientationdata\point_data_all.csv')
#df = df.iloc[:, 0].str.split(',', expand=True)
df.columns = ['X', 'Y','Z','formation','section']
df

               X    Y          Z              formation   section
0       5.000000    0  -37.00000                   topo  sectiona
1      94.000000    0  -37.00000                   topo  sectiona
2     191.000000    0  -21.00000                   topo  sectiona
3     314.000000    0  -29.00000                   topo  sectiona
4     388.000000    0  -32.00000                   topo  sectiona
..           ...  ...        ...                    ...       ...
213  1134.600035  200 -608.31417  Kfeldspathizationzone  sectionb
214  1256.753870  200 -517.21887  Kfeldspathizationzone  sectionb
215  1399.816920  200 -436.24527  Kfeldspathizationzone  sectionb
216  1488.956205  200 -384.62460  Kfeldspathizationzone  sectionb
217  1557.186275  200 -328.95525  Kfeldspathizationzone  sectionb

[218 rows x 5 columns]

### Additional Dimentions

In [8]:
#add dip
df.loc[:, 'dip'] = '0'

#add azimuth
df.loc[:, 'azimuth'] = '90'

#add polarity
df.loc[:, 'polarity'] = '1'

df = df[['X', 'Y', 'Z','dip','azimuth','polarity','formation','section']]


df

,X,Y,Z,dip,azimuth,polarity,formation,section
0,5.000000,0,-37.00000,0,90,1,topo,sectiona
1,94.000000,0,-37.00000,0,90,1,topo,sectiona
2,191.000000,0,-21.00000,0,90,1,topo,sectiona
3,314.000000,0,-29.00000,0,90,1,topo,sectiona
4,388.000000,0,-32.00000,0,90,1,topo,sectiona
...,...,...,...,...,...,...,...,...
213,1134.600035,200,-608.31417,0,90,1,Kfeldspathizationzone,sectionb
214,1256.753870,200,-517.21887,0,90,1,Kfeldspathizationzone,sectionb
215,1399.816920,200,-436.24527,0,90,1,Kfeldspathizationzone,sectionb
216,1488.956205,200,-384.62460,0,90,1,Kfeldspathizationzone,sectionb
217,1557.186275,200,-328.95525,0,90,1,Kfeldspathizationzone,sectionb

In [9]:
#save the data at the end
df.to_csv(r'data\orientationdata\orientation_data_all.csv', index = False)