In [1]:
import numpy as np
import matplotlib.pyplot as plt
from skimage import color
import pandas as pd

### Load excel data

In [4]:
df =pd.read_csv('data\orientationdata\point_data_all.csv')
#df = df.iloc[:, 0].str.split(',', expand=True)
df.columns = ['X', 'Y','Z','formation']
df

        X  Y     Z          formation
0       5  0  -110               topo
1      44  0  -135               topo
2     116  0  -159               topo
3     166  0  -180               topo
4     203  0  -194               topo
..    ... ..   ...                ...
141  1150  0 -1171  UpperHuakaizuo2Fm
142  1200  0 -1189  UpperHuakaizuo2Fm
143  1224  0 -1213  UpperHuakaizuo2Fm
144  1267  0 -1227  UpperHuakaizuo2Fm
145  1300  0 -1257  UpperHuakaizuo2Fm

[146 rows x 4 columns]

### Additional Dimentions

In [6]:
#add dip
df.loc[:, 'dip'] = '0'

#add azimuth
df.loc[:, 'azimuth'] = '90'

#add polarity
df.loc[:, 'polarity'] = '1'

df = df[['X', 'Y', 'Z','dip','azimuth','polarity','formation']]


df

        X  Y     Z dip azimuth polarity          formation
0       5  0  -110   0      90        1               topo
1      44  0  -135   0      90        1               topo
2     116  0  -159   0      90        1               topo
3     166  0  -180   0      90        1               topo
4     203  0  -194   0      90        1               topo
..    ... ..   ...  ..     ...      ...                ...
141  1150  0 -1171   0      90        1  UpperHuakaizuo2Fm
142  1200  0 -1189   0      90        1  UpperHuakaizuo2Fm
143  1224  0 -1213   0      90        1  UpperHuakaizuo2Fm
144  1267  0 -1227   0      90        1  UpperHuakaizuo2Fm
145  1300  0 -1257   0      90        1  UpperHuakaizuo2Fm

[146 rows x 7 columns]

In [7]:
#save the data at the end
df.to_csv(r'data\orientationdata\orientation_data_all.csv', index = False)