In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pickle
import pandas as pd

### Load excel data

In [3]:
df =pd.read_csv('data\orientationdata\point_data_10.csv')
#df = df.iloc[:, 0].str.split(',', expand=True)
df.columns = ['X', 'Y','Z','formation','section']
df

               X    Y            Z           formation  section
0       0.959933  250     1.004172                topo       10
1      38.397320  250   -17.070924                topo       10
2      56.636047  250   -45.187740                topo       10
3     107.512496  250   -83.346276                topo       10
4     157.429012  250  -128.534016                topo       10
..           ...  ...          ...                 ...      ...
117   940.734340  250 -1165.843692  trachyandestictuff       10
118   983.931325  250 -1142.747736  trachyandestictuff       10
119  1025.208444  250 -1111.618404  trachyandestictuff       10
120  1077.044826  250 -1088.522448  trachyandestictuff       10
121  1099.123285  250 -1076.472384  trachyandestictuff       10

[122 rows x 5 columns]

### Additional Dimentions

In [4]:
#add dip
df.loc[:, 'dip'] = '0'

#add azimuth
df.loc[:, 'azimuth'] = '90'

#add polarity
df.loc[:, 'polarity'] = '1'

df = df[['X', 'Y', 'Z','dip','azimuth','polarity','formation','section']]


df

,X,Y,Z,dip,azimuth,polarity,formation,section
0,0.959933,250,1.004172,0,90,1,topo,10
1,38.397320,250,-17.070924,0,90,1,topo,10
2,56.636047,250,-45.187740,0,90,1,topo,10
3,107.512496,250,-83.346276,0,90,1,topo,10
4,157.429012,250,-128.534016,0,90,1,topo,10
...,...,...,...,...,...,...,...,...
117,940.734340,250,-1165.843692,0,90,1,trachyandestictuff,10
118,983.931325,250,-1142.747736,0,90,1,trachyandestictuff,10
119,1025.208444,250,-1111.618404,0,90,1,trachyandestictuff,10
120,1077.044826,250,-1088.522448,0,90,1,trachyandestictuff,10
121,1099.123285,250,-1076.472384,0,90,1,trachyandestictuff,10

In [5]:
#save the data at the end
df.to_csv(r'data\orientationdata\orientation_data_10.csv', index = False)